<div class="d-flex justify-start items-center flex-column vh-100">
  <div class="position-relative w-100 h-100">
    <video class="video-cover" loop autoplay muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="../../assets/share.mp4" type="video/mp4">
    </video>
    <div class="position-absolute d-flex flex-column justify-content-center align-items-center top-0 right-0 left-0 bottom-0 w-100 bg-dark-custom">
      <div class="p-3">
        <img src="../../assets/NgShare-logos_transparent1.png" alt="logo" style="width: 150px">
      </div>
      <div >
        <div class="col s12 m6 offset-m3 center-align bg-white rounded-pill">
          <a class="oauth-container btn darken-4 white text-dark d-flex" (click)="loginWithGoogle()" style="text-transform:none">
              <div class="left">
                  <img width="20px" style="margin-right:8px" alt="Google sign-in" 
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              </div>
              Login with Google
          </a>
      </div>
      </div>
    </div>
    
  </div>
</div>